#Navegador{
    font-size: 20px;
    color: black;
    position: relative;
    left: 50px;
    top: -40px;
    width: 650px;
    display: flex;
}

#Navegador a{
    color: black;
    text-decoration: none;
    padding-left: 48px;
}

section{
    border: solid; height: 200; width: 200; 
}

#parrafo{
    position: relative;
    left: 60px;
    width: 550px;
}

input[type="text"]{
    margin-left: 100px;
    width: 300px;
}

#m{
  height: 100px;
  margin-right: 74px
}

#a{
  height: 20px;
}

#c{
  height: 20px;
}

#Contactoo{
    position: relative;
    left: 60px;
    width: 550px;
    background-color: whitesmoke;
}
button{
    position: relative;
    left: 450px;
    width: 85px;
}