header{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: auto;
    border: solid;
    border-radius: 5px;
    background-color: white
}

.Navegador{
    font-size: 20px;
    color: black;
   
}

.Navegador a{
    color: black;
    text-decoration: none;
    padding: 0 40px;
}


section{
    border: solid; 
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
}

#parrafo{
    position: relative;
    left: 60px;
    width: 550px;
}

input[type="text"], input[type="email"]{
    margin-left: 100px;
    width: 300px;
}

#m{
  height: 100px;
  margin-right: 74px
}

#a,#c{
  height: 20px;
}

.Contactoo1{
    background-color: whitesmoke;
    display: inline-block;
    margin-left: 300px;
    margin-top: 40px;
}
input[type="submit"]{
    position: relative;
    left: 390px;
    width: 85px;
}

#parrafo a{
    text-decoration: none;
    color:#ff5000;
    text-decoration: underline;
}

.Navegador a:hover{
  color: #B33900;
  transition-duration:  9;
}

#colo{
    color: #ff5000
}

img{
    max-width: 100%;
    max-height: 100%;
}

body{
    background-color: #ff5000;
}

label{
    margin-left: 20px;
}

.Jordani1{
    flex-direction: column;
    padding-left: 20px;
    padding-bottom: 20px;
}

.Jordani1 a{
    text-decoration: none;
    color:#ff5000
}